@import url('./global.css');

:root {
    --color-background: #27141d;
    --color-wrapper: #47272f;
    --color-accent: #9c392d;
    --color-box: #f9e4ca;
    --color-box-hover: #eccfa8;
    --color-text: #27141d;
    --color-text-muted: #47272f;
}

body {
    background-color: var(--color-background);
}
a {
    text-decoration: none;
}

.header-links {
    background-color: var(--color-wrapper);
    box-shadow: none;
}
.header-links li {
    background-color: var(--color-box);
}

.page-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 2rem auto;
    padding: 1rem;
}
.post-wrapper {
    background-color: var(--color-box);
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    transition: transform 0.3s, background-color 0.3s;
}
.post-wrapper:hover {
    background-color: var(--color-box-hover);
    transform: scale(1.02);
}
.post-wrapper > a {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical centering */
    align-items: center; 
}

.intro {
    grid-column: 1 / -1;
    background-color: var(--color-box);
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0.25rem 0.25rem 0.5rem #4d453987;
    margin: 1rem 0.5rem;
}
.intro h1 {
    font-size: 2.5rem;
    margin: 0.5rem;
}
.intro h4 {
    font-size: 1.2rem;
    margin: 0.5rem;
    color: var(--color-accent);
}

.post-title {
    margin: 0 1rem 0.5rem;
    font-size: 1.5rem;
    text-align: center;
}
.post-author {
    margin-top: 0;
    margin-bottom: 0.25rem;
    color: var(--color-accent);
    text-align: center;
}
.post-date {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9rem;
    color: var(--color-text-muted);
    text-align: center;
}

/* Comment Box */
a, img {
    display: inline;
    margin: 0;
}


#HCB_comment_box #hcb_form textarea, #HCB_comment_box #hcb_form #hcb_form_name {
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    background-color: var(--color-box);
    box-shadow: 0.1rem 0.1rem 0.25rem #44212587;
    font-family: "Smalle";
}

#HCB_comment_box {
    font-family: "Panas Chill";
    margin: 0 1.5rem;
}

.hcb-door-in, .home-desc, h3 {
    display: none;
}

#HCB_comment_box #hcb_form .btn, #HCB_comment_box #HCB_comment_form_box .btn {
    border-radius: 1rem;
    border: none;
    background-color: var(--color-accent);
    box-shadow: 0.1rem 0.1rem 0.25rem #44212587;
    font-family: "Smalle";
    color: var(--color-box);
}

.date {
    font-family: "Smalle";
}

.comment {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-box);
  box-shadow: 0.1rem 0.1rem 0.25rem #44212587;
}

.likes {
  margin: 1rem;
}

#HCB_comment_box .hcb-comment-tb button {
  color: var(--color-accent05);
}

#hcb_msg {
  color: var(--color-box);
  margin: 1.5rem 0.5rem;
}
@media (max-width: 768px) {
  .page-wrapper {
      width: 90%;
      margin: 1rem auto;
      padding: 0.5rem;
  }
  
}
#HCB_comment_box #comments_list {
  flex: none;
}

