@import url('./global.css');

:root {
    --color-background: #192b17;
    --color-wrapper: #eff0e7;
    --color-accent01: #e67384;
    --color-accent02: #396833;
    --color-text: #3e161c;

}

body {
    min-height: 100vh;
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
    color: var(--color-text);
}
h1 {
    font-size: 3rem;
    margin-top: 1rem;
}
.content-wrapper {
    background-color: var(--color-wrapper);
    max-width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
    border: 4px solid var(--color-accent02);
    box-shadow: 4px 4px 6px rgba(37, 86, 55, 0.313);
    text-align: center;
}
.content-wrapper p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.game-entry-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    margin: 2rem auto;
    width: 90%;
}

.game-entry {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    max-width: 25%;
    box-sizing: border-box;
    align-items: stretch;
    text-align: center;
    margin: 1rem 0;
    border-radius: 1rem;
    border: 4px solid var(--color-accent01);
    box-shadow: 4px 4px 6px rgba(37, 86, 55, 0.313);
    background-color: var(--color-wrapper);
    max-height: 400px;
    overflow: auto;
    transition: transform 0.3s;
}
.game-entry h2 {
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 1.8rem;
    background-color: var(--color-accent01);
    color: var(--color-wrapper);
    margin: 0;
    padding: 0.5rem 0;
}
.game-entry p {
    padding: 0 1rem 1rem 1rem;
}
.game-entry:hover {
    transform: scale(1.35);
    z-index: 10;
}
.game-image {
        width: 120%;
        height: auto;
        border-radius: 1rem;
        margin: 1rem 0;
}
/*
#secret-hitler {
    border-color: #e67384;
}
#dominion {
    border-color: #f299a5;
}
#catan {
    border-color: #fcc9ca;
}
#king-of-tokyo {
    border-color: #f299a5;
}
#pandemic {
    border-color: #e67384;
}
#quacks {
    border-color: #f299a5;
}
#love-letter {
    border-color: #fcc9ca;
}
*/


.back-button {
    display: block;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    background-color: var(--color-accent01);
    color: #fff;
    text-decoration: none;
    border-radius: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}
.back-button:hover {
    background-color: #3e7d45;
}
