@import url('/css/global.css');
@import url('/css/posts.css');

:root {
    --color-background: #27141d;
    --color-wrapper: #47272f;
    --color-accent: #9c392d;
    --color-box: #f9e4ca;
    --color-box-hover: #eccfa8;
    --color-text: #27141d;
    --color-text-muted: #47272f;
}

body {
    background-color: var(--color-background);
    background-image: none;
}

.page-wrapper {
    background-color: var(--color-wrapper);
}

.image-right {
    float: right;
    margin: 0.5rem 0 1rem 1rem;
    max-width: 30%;
    height: auto;
    border: solid 0.2rem var(--color-accent);
    border-radius: 0.5rem;
}

hr {
    border: solid 0.05rem var(--color-accent);
}