@import url('/css/global.css');

:root {
    --color-background: #27141d;
    --color-wrapper: #47272f;
    --color-accent: #9c392d;
    --color-box: #f9e4ca;
    --color-box-hover: #eccfa8;
    --color-text: #27141d;
    --color-text-muted: #47272f;

    --ring-bg: none;
    --btn-bg: var(--color-box);
    --btn-bg-hover: var(--color-box-hover);
}

body {
    background-color: var(--color-background);
}
h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.page-wrapper {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.content-wrapper {
    background-color: var(--color-box);
    width: 60%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    text-align: center;
}

.audio-player {
    margin: 2rem auto;
    --ring-color: var(--color-accent);
    --icon-color: var(--color-accent);
}
.circle-btn {
    background-color: var(--btn-bg);
}

.back-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-accent);
    color: #fff;
    text-decoration: none;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}
.back-button:hover {
    background-color: var(--btn-bg-hover);
}