@import url('../global.css');

:root {
    --color-background: #410e14;
    --color-text: #1a2126;
    --color-text-muted: #36484f;
    --color-box: #e0ded5;
    --color-box-hover: #c7c5bb;
    --color-border: #671b1c;
    --color-accent01: #980c0c;
    --color-accent02: #c43232;

    --bg-image: url('/assets/images/backgrounds/neutral.jpg');

    --font-title: 'Prompt', sans-serif;
    --font-subtitle: 'Overpass', serif;
    --font-body: 'Hind Madurai', Tahoma, Geneva, Verdana, sans-serif;

    --box-shadow: 4px 4px 8px #0000005e;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.3rem;
}
h6 {
    font-size: 1rem;
}

img {
    box-shadow: var(--box-shadow);
}

.box-container {
    border-radius: 16px;
    border-width: 5px;
    box-shadow: var(--box-shadow);
}
