<div class="row-container">
            <div class="box-container" id="navbar">
                <h2>On s'en va où?</h2>
                {% if page.url == '/' %}
                <h4>Pssst! Si tu veux garder la musique, maintiens Ctrl en cliquant sur les liens pour ouvrir une nouvelle fenêtre.</h4>
                {% endif %}
                <ul class="link-list">
                    <li class="link-item"><a href="/" >Accueil</a></li>
                    <li class="link-item"><a href="/journal/">Journal</a></li>
                    <li class="link-item"><a href="/disquaire/">Disquaire</a></li>
                    <li class="link-item"><a href="/photos/">Album photo</a></li>
                    <li class="link-item"><a href="/commentaires/">Commentaires</a></li>
                </ul>
            </div>
        </div>