<div class="header-links">
    <ul>
        <li><a href="/{{ lang }}/" class="header-button">{% if lang == "fr" %}Accueil{% else %}Home{% endif %}</a></li>
        <li><a href="/{{ lang }}/journal" class="header-button">{% if lang == "fr" %}Journal{% else %}Journal{% endif %}</a></li>
        <li><a href="/{{ lang }}/album-gallery" class="header-button">{% if lang == "fr" %}Disquaire{% else %}CD Shop{% endif %}</a></li>
        <li><a href="/{{ lang }}/photo-gallery" class="header-button">{% if lang == "fr" %}Photos{% else %}Photos{% endif %}</a></li>
        <li><a href="/{{ lang }}/contact" class="header-button">{% if lang == "fr" %}Mes liens{% else %}My links{% endif %}</a></li>
        <li><a href="/{{ lang }}/comments" class="header-button">{% if lang == "fr" %}Commentaires{% else %}Comments{% endif %}</a></li>
        <li><a href="/{{ lang }}/colectivember-2025" class="header-button">{% if lang =="fr" %}Colectivembre{% else %}Colectivember{% endif %}</a></li>
        <li><a href={{langAltUrl}} class="header-button">{% if lang == "fr" %}EN{% else %}FR{% endif %}</a></li>
    </ul>
</div>