@import url('./global.css');

body {
  background-color: var(--color-background02);
}

.page-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--color-wrapper02);
    border-radius: 2rem;
}

.post-wrapper a {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 0;
  width: auto;
}

.header-links {
  grid-column: 1 / span 3;
  text-align: center;
  margin: 0.5rem;
  border-radius: 2rem;
  background-color: var(--color-box);
  box-shadow: 0.25rem 0.25rem 0.5rem #44212587;
}
.header-links ul {
  list-style-type: none;
  padding: 1.5rem 0;
  margin: 0;
}
.header-links li {
  text-decoration: none;
  display: inline;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.25rem #44212587;
}
.header-links a {
  display: inline;
  text-decoration: none;
  margin: 1rem 0.5rem;
}

.album-cover {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  margin: 0;
  padding: 0;
transition: filter .2s, transform .2s;
}
.post-wrapper {
  position: relative;
  margin: 1rem auto;
  padding: 0;
  width: 50%;
  height: auto;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.25rem #44212587;
}

.album-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 2rem;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: opacity .2s, visibility .2s;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.post-wrapper:hover .album-info {
  visibility: visible;
  opacity: 1;
}

.post-wrapper:hover .album-cover {
    filter: blur(4px);
    transform: scale(1.01);
}

h2, p {
    color: var(--color-box);
}