@import url('./global.css');

body {
  background-color: var(--color-background03);
  background-image: url(/assets/images/doodle-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--color-wrapper03);
    border-radius: 2rem;
}

.post-wrapper a {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 0;
  width: auto;
}

.album-cover {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0;
  transition: filter .2s, transform .2s;
  object-fit: cover;
}
.post-wrapper {
  position: relative;
  margin: 1rem auto;
  padding: 0;
  width: 80%;
  height: auto;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.25rem #44212587;
  transition: transform .3s ease-in-out;
}

.album-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 0.5rem;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: opacity .2s, visibility .2s;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.post-wrapper:hover .album-info {
  visibility: visible;
  opacity: 1;
}

.post-wrapper:hover .album-cover {
    filter: blur(4px);
    transform: scale(1.01);
}

.post-wrapper:hover {
  transform: scale(1.25);
  z-index: 2;
}

h2, p {
    color: var(--color-box);
}

@media (max-width: 768px) {
  .page-wrapper {
    width: 90%;
    grid-template-columns: auto auto;
    padding: 1rem;
  }
  .post-wrapper {
    width: 90%;
    border-radius: 0.2rem;
  }
  .album-info {
    border-radius: 0.2rem;
  }
  .album-cover {
    border-radius: 0.2rem;
  }
}