.grid-container {
  grid-template-columns: repeat(2, 1fr);
}
.post-container > .box-container {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Optional: for content alignment */
    box-sizing: border-box;
}

.grid-container > a {
    text-decoration: none;
    color: var(--color-text);
}

h3 {
    text-decoration: underline;
    text-decoration-color: var(--color-accent02);
}

a > .box-container {
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
a > .box-container:hover {
    background-color: var(--color-box-hover);
    transform: scale(1.1);
    z-index: 10;
}
