@import url('./global.css');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;      /* vertical center */
    background-color: var(--color-background01);
    background-image: url(/assets/images/doodle-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 3rem;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text01);
}

.page-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 15vh;
    width: 70%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--color-wrapper01);
    border-radius: 2rem;
}

.page-box, .lang-button {
    margin: 0.5rem;
    border-radius: 2rem;
    background-color: var(--color-box);
    box-shadow: 0.25rem 0.25rem 0.5rem #26384787;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-button {
    grid-column: span 1;
    padding: 1rem 2rem;
}

#title {
    grid-column: 1 / -1;
    text-align: center;
}

@media (max-width: 768px) {
    .page-wrapper {
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin: auto;
        padding: 0.5rem;
    }
    .page-box, .lang-button {
        margin: 0.5rem;
    }
    .lang-button {
        padding: 1rem;
    }
    #title {
        font-size: 1.8rem;
    }
}