---
title: "Battle of the board games!!!"
author: "Kate"
posted: "Thursday, November 13th 2025"
date: 2025-11-13
lang: "en"
---
{% block styles %}
<link rel="stylesheet" href="/css/col25/kate.css">
{% endblock %}

<!--
<div class="page-wrapper">
    <img src="/assets/images/col25/little-guy.gif" alt="A little yellow guy dancing like crazy" class="image-center">
    <h1>Woops! Nothing to see here!</h1>
    <p>You really thought I'd leave half-finished code on my website? Nice try jackal... Anyways the page is coming soon don't worry!</p>
    <a href="/{{ lang }}/colectivember-2025" class="back-button">{% if lang == "fr" %}← Retour à l'accueil{% else %}← Back to the Hub{% endif %}</a>
</div> -->
<div class="page-wrapper">
    <div class="content-wrapper">
        <h1>{{ title }}</h1>
        <p>Hi y'all! I'm a half-newfie half-new-yorker gal here to bring you what i'm fondly calling the battle of the board games: may the best game win! There is absolutely no judging criteria besides what will get the most laughs out of everyone playing, so let's see the contestants!</p>
    </div>
    <div class="game-entry-grid">
        <div class="game-entry" id="secret-hitler">
            <h2>Secret Hitler</h2>
            <img src="/assets/images/col25/kate/secret-hitler.png" alt="Secret Hitler doodle" class="game-image">
            <p>Ok ok yes this is obviously an interesting name for a board game and probably a shocking note to start on, but if you'll learn one thing about me it's that i could care less and its fun. This game is basically an excuse to practice your poker face AND you get to accuse your 8-year-old cousin of being a fascist!! So many epic evenings spent screaming over this game, don't play it if you can't handle accusations at 1000 decibels. With clear-cut rules, simple boards, adaptable for many players, skill-focused with a helping of luck, this is a great game for large groups and those who think the name is funny as hell. </p>
        </div>
        <div class="game-entry" id="dominion">
            <h2>Dominion</h2>
            <img src="/assets/images/col25/kate/dominion.png" alt="Dominion doodle" class="game-image">
            <p>I will preemptively claim that I am a menace during this game and am usually the only player without a negative score, but hey that's why it made this list! It's hard to learn but the game mechanic of choosing medieval-style deck-building cards is great and you'll never play the same game twice. Heavily skill-based, I can never beat my cousin, but it's so fun to build strategies and decks to either attempt to win or to screw over your opponents. Lots of cards with delicious illustrations, an itty-bitty board that makes it count as a board game, and so much fun, I give you Dominion.</p>
        </div>
        <div class="game-entry" id="catan">
            <h2>Catan</h2>
            <img src="/assets/images/col25/kate/catan.png" alt="Catan doodle" class="game-image">
            <p>No, I will not give you three rocks for your stupid sheep. The whole grain cheerios of the board game world (no i will not explain), Catan is stupid hard to set up and even harder to win. It's a great game that will have you tossing cards, playing dirty tricks, and plotting 20 moves ahead, even when the only game mechanics are building things with wooden lego things and trading/gaining resources. Plenty of fun cards, infinite replayability, simple rules, and a good amount of players, this is a great game for skill masterminds and those who want to build fun shit with the fun wooden pieces.</p>
        </div>
        <div class="game-entry" id="king-of-tokyo">
            <h2>King of Tokyo</h2>
            <img src="/assets/images/col25/kate/king-of-tokyo.png" alt="King of Tokyo doodle" class="game-image">
            <p>Ever wanted to beat the shit out of your family (metaphorically) as a giant pink robot cat? Well King of Tokyo is the game for you! It's got these game pieces/energy cubes that look so tasty and are the reason I can't play it too often, and is super skill-based but also roll-of-the-dice (also tasty-looking). See a pattern yet? Anyways, it's got great manga-style bright colors and graphics, you can play with baby cousins cause it's simple if you ignore the cards, easy to pack up, the only downside is that you can be killed and have to sit out the rest of the game. Kind of adds to the charm, but I digress- great board game for a rainy afternoon with high-energy players!</p>
        </div>
        <div class="game-entry" id="pandemic">
            <h2>Pandemic</h2>
            <img src="/assets/images/col25/kate/pandemic.png" alt="Pandemic doodle" class="game-image">
            <p>This game is cursed. I shall elaborate, and I only included it because of this story so it will not be a final contestant unforch. So, wayyyy back in the time of March 2020, my family had the brilliant idea to play Pandemic and jokingly name one of the diseases COVID. Three hours later, we still hadn't eradicated the damn thing, and eventually put the game back and laughed about it. But we didn't laugh long!! Pandemic is a taboo name in our household now and the box is treated with the same respect and fear that an OUIJA board is, so it is awful and cursed but I also think it's funny as hell. Next!</p>
        </div>
        <div class="game-entry" id="quacks">
            <h2>Quacks of Quedlingburg</h2>
            <img src="/assets/images/col25/kate/quacks.png" alt="Quacks of Quedlingburg doodle" class="game-image">
            <p>POTIONS!! EXPLOSIONS!! I adore this game and its potion-making, deck-building, luck-driven gameplay. You can mess with the properties of your ingredients so no game is the same, there's even factors to help out those who fall behind those in the lead, you get round bonuses, god I love this game. I love the ugly little ingredients and the fact you get little bags to put them in, and I love the charm of the boards and laughing at friends whose potions explode. The only downside and reason why this isn't an instant winner is cause it's all chance-based, which leads to cheating (looking at you, sis) and thus I always lose. Continuing to the last game!</p>
        </div>
        <div class="game-entry" id="love-letter">
            <h2>Love Letter</h2>
            <img src="/assets/images/col25/kate/love-letter.png" alt="Love Letter doodle" class="game-image">
            <p>I still think this shouldn't count as a board game cause *ahem* there's no board. But hey, I've got this beautiful set that my beautiful girlfriend made me, so it's going in the list! It's skill-based and you've gotta play with the luck of the draw, and for all its simplicity it's a very complex game. Quick to pick up, hard to master, great to make bad princess jokes over, it's a great game for vaguely tipsy partygoers and for the princess in your life. God I love this game. And my girlfriend. I may be biased…</p>
        </div>
    </div>
    <div class="content-wrapper">
        <p>Drumroll please!! I hope you've enjoyed my shitty overviews of several random games, but now has come the time to pick a winner! And I've chosen… totally unexpectedly…<br>
        Secret Hitler! Listen, it would've been Love Letter, but I think it's funnier to stubbornly declare it's not a board game and hope my girlfriend finds it in her loving heart to forgive me. Anyways, I'll share the story that tipped the scales: during a round of Secret Hitler, my cousin attempting to convince my sister that my father was Hitler, I shouted at him to demand if he was a fascist or not. Looking me dead in the eyes, he said “yes. Anyways…” and continued. Nobody believed him, we went about the round, and promptly lost disastrously. Take a wild guess who was, and this is unbelievable I know, a fascist!! And pay no mind to the fact that his younger sister misspoke and called him a fashionista during said game. She was a librarian (liberal) just as I was, but alas. Anyways, that's all i've got folks, so thanks for reading and break out your favorite board game so you can make some sweet memories too &lt;3</p>
        <h6>(also p.s. I love you so much saskia dont kill meee :3)</h6>
        <p>- Kate :3</p>
    </div>
    <a href="/{{ lang }}/colectivember-2025" class="back-button">{% if lang == "fr" %}← Retour à l'accueil{% else %}← Back to the Hub{% endif %}</a>
</div>