---
layout: layout/base.html
title: "????"
author: "Rose"
posted: "Tuesday, November 25th 2025"
date: 2025-11-25
lang: "en"
---
{% block styles %}
<link rel="stylesheet" href="/css/col25/404.css">
{% endblock %}

<div class="page-wrapper">
    <img src="/assets/images/col25/little-guy.gif" alt="A little yellow guy dancing like crazy" class="image-center">
    <h1>Woops! Nothing to see here!</h1>
    <p>You really thought I'd leave half-finished code on my website? Nice try jackal... Anyways the page is coming soon don't worry!</p>
    <a href="/{{ lang }}/colectivember-2025" class="back-button">{% if lang == "fr" %}← Retour à l'accueil{% else %}← Back to the Hub{% endif %}</a>
</div>