---
layout: layout/base.html
title: Introducing the 2025 Colectivember
author: "Saskia"
posted: "Saturday, November 1st 2025"
date: 2025-11-01
footer: I thought about changing my page's look, but I'm gonna be designing 10 different pages so might as well cut myself some slack.
lang: "en"
---
{% block styles %}
<link rel="stylesheet" href="/css/col25/saskia.css">
{% endblock %}

<div class="page-wrapper">
    <div class="post-wrapper">
        <h1 class="post-title">{{ title }}</h1>
        <p><em class="post-date">{{ posted }}</em></p>
        <p dir="auto">I love my website. And I love my folks. I've been trying for a short while to find an easy and non-intimidating way for the people around me to get into the indie web, because it's such a cool hobby but also because I'm all alone in my corner of the web 😭 And then suddenly, URETHRA! 💡 Instead of pushing people into making their own website, why not just give them a ready-made platform to express themselves freely and end up with an artefact that represents them on a page seen by tens of people?<br>
        Bonus, I get to have a collection of posts that I can show people while saying "look at my friends and how talented and cool they are", which is pretty fun right?</p>
        <p dir="auto">Therefore, I am proud to present the first edition of the Colectivember!! Named this way because this is a collective effort, but also to honor the Colectivo, this café close to where I live that closed while I was off to college, and in which I spent so much time pretending to be super busy when in reality I just wanted a place that wasn't my parents' apartements to draw and listen to music in. </p>
        <p dir="auto">Alright abstract ideas are fun and all, but conretely, what's Colectivember about? Well it's 10 of my friends to whom I've given a blank canvas to write a post on whatever they want. Not only that, but I'm also giving them full creative control over the look of their page, and I'm gonna do all the complicated coding and stuff. Pretty cool eh?</p>
        <img src="/assets/images/col25/dushiido.png" alt="Meme representing Dushii as being the only guy here" class="image-right" />
        <p dir="auto">So as a web user, you're gonna be able to see the creative vision and unique writings of 10 absolutely marvelous women and Dushii, all people for whom I hold so much love in my heart. This event will last for the entire month of November, on a schedule of one post every 3 days. Once the event is over, the posts will stay on my website ad vitam aeternam, which means the people who are close to me will be immortalized on my website, and their texts will be passed down for generations.</p>
        <p dir="auto">Now that this has been announced, you've got no reason not to come back for every new post. I'm gonna annoy everyone I can with this project, sorry in advance!! Thank you so much to all my friends (and my girlfriend of course) who were willing to participate in the project, I love you all very much.</p>
        <hr>
        <h6 data-heading="Bon ce serait un peu cheap d'annoncer 11 artistes et que ma contribution soit un texte d'explications, faque who knows? Peut-être qu'il va y avoir un autre post pas annoncé et qui ne fait pas partie de la liste visible dans l'accueil... Moi à ta place je surveillerais ça!" dir="auto">Ok it'd be pretty cheap to advertise 11 artists if my only contribution was an explanation text, so who knows? Maybe there's gonna be a surprise post at some point during the month... If I were you I'd keep an eye on this page!</h6>
        <a href="/{{ lang }}/colectivember-2025" class="back-button">{% if lang == "fr" %}← Retour à l'accueil{% else %}← Back to the Hub{% endif %}</a>
        <div class="footer-text">
        <h6>© 2025 Saskia Schnéegans — {{ footer }}</h6>
        </div>
        <img src="/assets/images/logo-noir.svg" alt="Logo bleu" class="end-logo" />
    </div>
</div>
