---
layout: layout/base.html
title: "Vertigo"
author: "Saskia"
posted: "Art transcends time"
date: 2025-10-31
lang: "en"
---
{% block styles %}
<link rel="stylesheet" href="/css/col25/vertigo.css">
{% endblock %}
<div class="page-wrapper">
    <div class="content-wrapper">
        <h1>{{ title }}</h1>
        <h4>The only song I've ever (somewhat) finished writing</h4>
        {% set audioSrc = "/assets/audio/col25/vertigo.mp3" %}
        {% include "audio-player.html" %}
        <p>This recording was taken during a jam with my family, everyone was still learning it and it was all in good fun, so it sounds a little rough at times but it's a fun feeling to hear people play a song you wrote.<br>
        I'd like to revisit this song at some point, the lyrics still need work for sure but I'm proud of most parts of it. (except for the ukulele, sorry dad you were trying your best)</p>
        <a href="/{{ lang }}/colectivember-2025" class="back-button">{% if lang == "fr" %}← Retour à l'accueil{% else %}← Back to the Hub{% endif %}</a>
    </div>
</div>