<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/logo-noir.svg">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/albums.css">

  </head>
  <script src="/js/audio-player.js"></script>
  <script src="/js/collapsible.js"></script>
  <body>
    <div class="page-wrapper">
      <div class="post-wrapper">
          <img src="{{ cover }}" alt="{{ title }} - {{ artist }}" class="album-cover">
          <h1 class="post-title">{{ title }}</h1>
          <h3 class="post-artist">{{ artist }}</h3>
          <p><em class="post-date">{{ year }}</em></p>
          <h6 class="post-genre">{{ genre }}</h6>

          {{content | safe}} 
          <a href="/album-gallery" class="back-button">← Retour au Disquaire</a>
          <div class="footer-text">
            <h6>© 2025 Saskia Schnéegans</h6>
          </div>
          <img src="/assets/images/logo_bleu.svg" alt="Logo bleu" class="end-logo" />
      </div>
    </div>
  </body>
</html>