<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/logo-noir.svg">
    {% block styles %}{% endblock %}
    <link id="theme-css" rel="stylesheet" href="/css/themes/desert.css">
    <script src="/js/theme-selector.js"></script>
    <script src="/js/audio-player.js"></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    <div class="bg-parallax">
      <div class="page-container">
        {{content | safe}}
      </div>
    </div>
  </body>
</html>