<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/logo-noir.svg">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/posts.css">

  </head>
  <script src="/js/audio-player.js"></script>
  <body>
    <div class="page-wrapper">
      <div class="post-wrapper">
          <h1 class="post-title">{{ title }}</h1>
          <p><em class="post-date">{{ posted }}</em></p>
          {{content | safe}} 
          <a href="/{{ lang }}/journal" class="back-button">{% if lang == "fr" %}← Retour au Journal{% else %}← Back to the Journal{% endif %}</a>
          <div class="footer-text">
            <h6>© 2025 Saskia Schnéegans — {{ footer }}</h6>
          </div>
          <img src="/assets/images/logo-noir.svg" alt="Logo bleu" class="end-logo" />
      </div>
    </div>
  </body>
</html>