@import url('./global.css');

body {
  background-color: var(--color-background06);
  background-image: url(/assets/images/doodle-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--color-wrapper06);
    border-radius: 2rem;
}

.comments-wrapper {
    grid-column: 1 / span 3;
    margin: 0 auto;
    width: 100%;
}

a, img {
    display: inline;
    margin: 0;
}


#HCB_comment_box #hcb_form textarea, #HCB_comment_box #hcb_form #hcb_form_name {
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    background-color: var(--color-box-hover);
    box-shadow: 0.1rem 0.1rem 0.25rem #44212587;
    font-family: "Smalle";
}

#HCB_comment_box {
    font-family: "Panas Chill";
    margin: 0 1.5rem;
}

.hcb-door-in, .home-desc, h3 {
    display: none;
}

#HCB_comment_box #hcb_form .btn, #HCB_comment_box #HCB_comment_form_box .btn {
    border-radius: 1rem;
    border: none;
    background-color: var(--color-accent05);
    box-shadow: 0.1rem 0.1rem 0.25rem #44212587;
    font-family: "Smalle";
    color: var(--color-box);
}

.date {
    font-family: "Smalle";
}

.comment {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-box-hover);
  box-shadow: 0.1rem 0.1rem 0.25rem #44212587;
}

.likes {
  margin: 1rem;
}

#HCB_comment_box .hcb-comment-tb button {
  color: var(--color-accent05);
}

#hcb_msg {
  color: var(--color-box);
  margin: 1.5rem 0.5rem;
}
@media (max-width: 768px) {
  .page-wrapper {
      width: 90%;
      margin: 1rem auto;
      padding: 0.5rem;
  }
  
}
#HCB_comment_box #comments_list {
  flex: none;
}