#about-me, #rock-garden {
    flex-grow: 2;
}

/* Header */
.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#header {
    max-width: 60%;
}
.random-icon {
    width: 30px;
    height: auto;
    box-shadow: none;
}

/* Music player */
audio {
    display: none;
}
.audio-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 55%;
    margin: 1rem auto;
}
button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    width: 100px;
    height: auto;
}
button:hover {
    transform: scale(1.1);
}
.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.song-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    flex-grow: 1;
}
#song-cover {
    width: 150px;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.about-me-text {
    display: block;
}
.about-me-photo {
    float: left;
    width: 160px;
    height: 160px;
    border-radius: 12px;
    margin: 1rem;
    margin-bottom: 0.5rem;
}
.about-me-text p, .about-me-text h3 {
    text-align: left;
}

#theme-selector-box {
    max-width: 100vw;
}
.status-image, .wip-image {
    width: auto;
    height: 200px;
    border-radius: 12px;
    margin: 1rem auto;
}
.post-preview {
    transition: transform 0.2s ease-in-out;
}
.post-preview:hover {
    transform: scale(1.05);
}

.button-image {
    transition: transform 0.2s;
}
.button-image:hover {
    transform: scale(1.2);
}

#rock-garden-area {
  width: 100%;
  height: 220px;
  position: relative;
  overflow: hidden;
}
