@import url('./global.css');

body {
  background-color: var(--color-background02);
  background-image: url(/assets/images/doodle-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 70%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--color-wrapper02);
    border-radius: 2rem;
}

.post-wrapper {
    margin: 0.5rem 0.5rem;
    width: 32vw;
    border-radius: 2rem;
    background-color: var(--color-box);
    box-shadow: 0.25rem 0.25rem 0.5rem #26384787;
}

.post-wrapper a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 1.5rem;
  margin: 0;
}

.header-links {
  grid-column: 1 / span 2;
  text-align: center;
  margin: 0.5rem;
  border-radius: 2rem;
  background-color: var(--color-box);
  box-shadow: 0.25rem 0.25rem 0.5rem #26384787;
}
.header-links ul {
  list-style-type: none;
  padding: 1.5rem 0;
  margin: 0;
}
.header-links li {
  text-decoration: none;
  display: inline;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.25rem #26384787;
}
.header-button {
  display: inline;
  text-decoration: none;
  margin: 1rem 0.5rem;
  color: var(--color-text);
}

.rss {
  grid-column: span 2;
  text-align: center;
  margin: 0 auto;
}
.rss .button-image {
  width: 8rem;
  height: auto;
}