---
layout: layout/base.html
title: En mode bambin braise
lang: "fr"
langAltUrl: "/en/album-gallery"
---
{% block styles %}
<link rel="stylesheet" href="/css/album-gallery.css">
{% endblock %}

<div class="page-wrapper">
    {% include "header-links.html" %}
    {% for albums in collections.albums_fr | reverse %}
        <div class="post-wrapper">
            <a href="{{ albums.url }}">
                <img src="{{ albums.data.cover}}" class="album-cover">
                <div class="album-info">
                    <h2 class="album-title">{{ albums.data.title }}</h2>
                    <p class="album-artist">{{ albums.data.artist }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
</div>