---
layout: layout/base.html
title: À l'eau! À l'huile! À rk!
lang: "fr"
langAltUrl: "/en/comments"
---
{% block styles %}
    <link rel="stylesheet" type="text/css" href="hhttps://www.htmlcommentbox.com/static/skins/simple/skin.css" />
{% endblock %}

<div class="page-wrapper">
    <div class="comments-wrapper">
        {% include "header-links.html" %}
        <script>
        hcb_user = {
            PAGE: "http://schaskia.neocities.org/comments"
        };
        </script>
        <!-- begin wwww.htmlcommentbox.com -->
        <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
        <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24WEcQV5nGMD1EL.WyBazgL."+"&opts=16798&num=10&ts=1756771051511");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})();</script>
        <!-- end www.htmlcommentbox.com -->
    </div>
</div>
<link rel="stylesheet" href="/css/comments.css">