---
layout: layout/base.html
title: Colectivember 2025
langAltUrl: "/fr/colectivember-2025"
lang: "en"
---
{% block styles %}
<link rel="stylesheet" href="/css/col25/home.css">
{% endblock %}

<div class="page-wrapper">
    {% include "header-links.html" %}
    <div class="intro">
        <h1>Colectivember 2025!!</h1>
        <h4>11 artists for the 11th month of the year</h4>
        <p>Eyup! Welcome to the hub of this project that started from a desire to show everyone how amazing my friends are. Each post here has been made by a different person, with different writing styles and page looks. If you like something one of these lovely people made, feel free to let them know in the comment section dedicated to this!</p>
        <h6>WARNING: These pages are not optimized for mobile! Sorry :(</h6>
    </div>
    {% for col25 in collections.col25_en | reverse %}
        <div class="post-wrapper">
            <a href="{{ col25.url }}">
                <h1 class="post-title">{{ col25.data.title }}</h1>
                <h6 class="post-author">{{ col25.data.author }}</h6>
                <p class="post-date">{{ col25.data.posted }}</p>
            </a>
        </div>
    {% endfor %}
    </div>
    <!-- begin wwww.htmlcommentbox.com -->
     <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
    <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/simple/skin.css" />
    <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24FbRmhOq%2FyXySC5ynq.Oqm1"+"&opts=16798&num=10&ts=1761627318805");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*--!>*/ </script>
    <!-- end www.htmlcommentbox.com -->
     <link rel="stylesheet" href="/css/col25/home.css">
