---
layout: layout/base.html
title: Writing is for nerds
lang: "en"
langAltUrl: "/fr/journal"
---
<link rel="alternate" type="application/rss+xml" title="RSS" href="/en/journal/feed.xml">
{% block styles %}
    <link rel="stylesheet" href="/css/journal.css">
{% endblock %}

<div class="page-wrapper">
    {% include "header-links.html" %}
    {% for journal in collections.journal_en | reverse %}
        <div class="post-wrapper">
            <a href="{{ journal.url }}">
                <h1 class="post-title">{{ journal.data.title }}</h1>
                <h6 class="post-meta">{{ journal.data.posted }}</h6>
                <p class="post-tagline">{{ journal.data.tagline }}</p>
            </a>
        </div>
    {% endfor %}
</div>
