---
layout: layout/base.html
title: Mediocre-Arts Museum
lang: "en"
langAltUrl: "/fr/photo-gallery"
---
{% block styles %}
<link rel="stylesheet" href="/css/photo-gallery.css">
{% endblock %}

<div class="page-wrapper">
    {% include "header-links.html" %}
    {% for photo in photos_en | shuffle %}
        <div class="photo-wrapper">
            <img src="{{ photo.src }}" class="photo-source" alt="{{ photo.title }}" loading="lazy">
            <div class="photo-info {{ photo.type }}">
                <h2 class="photo-title">{{ photo.title }}</h2>
                <p class="photo-credits">{{ photo.credits }}</p>
                <h6 class="photo-description">{{ photo.desc }}</h6>
            </div>
        </div>
    {% endfor %}
</div>