---
layout: layout/base.html
title: Les pires scriptures ever
---
{% block styles %}
    <link rel="stylesheet" href="/css/journal.css">
{% endblock %}

<div class="page-wrapper">
    <div class="header-links">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/journal">Journal</a></li>
            <li><a href="/album-gallery">Disquaire</a></li>
            <li><a href="/photo-gallery">Album photo</a></li>
        </ul>
    </div>
    {% for journal in collections.journal | reverse %}
        <div class="post-wrapper">
            <a href="{{ journal.url }}">
                <h1 class="post-title">{{ journal.data.title }}</h1>
                <h6 class="post-meta">{{ journal.data.posted }}</h6>
                <p class="post-tagline">{{ journal.data.tagline }}</p>
            </a>
        </div>
    {% endfor %}
</div>
