---
title: "La guerre des jeux de société!!!"
author: "Kate"
posted: "Jeudi le 13 novembre 2025"
date: 2025-11-13
lang: "fr"
---
{% block styles %}
<link rel="stylesheet" href="/css/col25/kate.css">
{% endblock %}

<!--
<div class="page-wrapper">
    <img src="/assets/images/col25/little-guy.gif" alt="A little yellow guy dancing like crazy" class="image-center">
    <h1>Woops! Nothing to see here!</h1>
    <p>You really thought I'd leave half-finished code on my website? Nice try jackal... Anyways the page is coming soon don't worry!</p>
    <a href="/{{ lang }}/colectivember-2025" class="back-button">{% if lang == "fr" %}← Retour à l'accueil{% else %}← Back to the Hub{% endif %}</a>
</div> -->
<div class="page-wrapper">
    <div class="content-wrapper">
        <h1>{{ title }}</h1>
        <p>Salut tout le monde! Je suis une fille mi-terre-neuvienne mi-new-yorkaise ici pour vous présenter ce que j'appelle affectueusement la guerre des jeux de société: que le meilleur jeu gagne! Y'a absolument aucun critère de sélection à part ce qui crée le plus de plaisir chez tous les joueurs, faque allons voir nos compétiteurs!</p>
    </div>
    <div class="game-entry-grid">
        <div class="game-entry" id="secret-hitler">
            <h2>Secret Hitler</h2>
            <img src="/assets/images/col25/kate/secret-hitler.png" alt="Secret Hitler doodle" class="game-image">
            <p>Ok ok oui c'est très clairement un nom intéressant pour un jeu de société et sûrement une note choquante sur laquelle commencer, mais si t'as une chose à apprendre sur moi c'est que je pourrais pas moins m'en crisser et c'est fun. Ce jeu, c'est basically une excuse pour pratiquer sa poker face ET tu peux accuser ton cousin de 8 ans d'être un fasciste!! Tellement de soirées épiques passées à se crier dessus en jouant, joue pas si tu peux pas gérer les accusations à 1000 décibels. Avec des règles claires, un board simple, adaptable pour plusieurs joueurs, focusé sur le skill avec une pincée de chance, c'est un jeu merveilleux pour les grands groupes et ceux qui trouvent le nom drôle en maudit. </p>
        </div>
        <div class="game-entry" id="dominion">
            <h2>Dominion</h2>
            <img src="/assets/images/col25/kate/dominion.png" alt="Dominion doodle" class="game-image">
            <p>Je vais commencer en prévenant que je suis une menace à ce jeu et que d'habitude je suis la seule joueuse qui a pas un score négatif, msais hey c'est pour ça qu'il est dans la liste! C'est dur à apprendre, mais la mécanique de choisir des cartes à thème médiéval en mode deckbuilding est géniale et tu joueras jamais la même game deux fois de suite. Très focusée sur le skill, je réussis jamais à battre mon cousin, mais c'est tellement fun de bâtir des stratégies et des decks pour tenter de gagner ou pour faire chier tes adversaires. Plein de cartes avec des illustrations délicieuses, un tout pitit mini plateau qui fait que c'est techniquement un jeu de plateau, et tellement de plaisir, je vous présente Dominion.</p>
        </div>
        <div class="game-entry" id="catan">
            <h2>Catan</h2>
            <img src="/assets/images/col25/kate/catan.png" alt="Catan doodle" class="game-image">
            <p>Non, je te donnerai pas 3 roches pour ton esti de mouton. Les cheerios blé entier du monde des jeux de table (non je ne m'expliquerai pas), Catan est turbo dur à installer et encore plus dur à gagner. C'est un jeu fantastique qui va te faire pitcher des cartes, jouer des vilains tours, et planifier 20 moves à l'avance, même si les seules mécaniques de jeu c'est bâtir des affaires avec des p'tits blocs de bois et échanger/gagner des ressources. Plein de cartes fun, une rejouabilité infinie, des règles simples, et un bon nombre de joueurs, Ce jeu est parfait pour les têtes pensantes et ceux qui veulent faire des tites constructions avec les p'tits blocs de bois.</p>
        </div>
        <div class="game-entry" id="king-of-tokyo">
            <h2>King of Tokyo</h2>
            <img src="/assets/images/col25/kate/king-of-tokyo.png" alt="King of Tokyo doodle" class="game-image">
            <p>As-tu déjà eu envie de sacrer une volée à ta famille (métaphoriquement) en étant un géant chat robot rose? Ben King of Tokyo est le jeu pour toi! Y'a des pièces de jeu/cubes d'énergie qui ont l'air tellement bons et qui sont la raison pour laquelle je peux pas jouer trop souvent, et c'est super skill-based mais aussi très lancer-de-dés (qui a aussi l'air appétissant). Tu vois tu un pattern? Anyways, ça a un style graphique manga très cool avec des couleurs flash, tu peux jouer avec tes jeunes cousins parce que c'est simple si tu ignores les cartes, c'est facile à apporter, le seul point négatif c'est que tu peux être tué et devoir attendre le reste de la game. Ça rajoute un peu au charme, mais je m'égare- un très bon jeu de société pour un après-midi pluvieux avec des joueurs qui ont beaucoup d'énergie!</p>
        </div>
        <div class="game-entry" id="pandemic">
            <h2>Pandemic</h2>
            <img src="/assets/images/col25/kate/pandemic.png" alt="Pandemic doodle" class="game-image">
            <p>Ce jeu est maudit. Je vais élaborer, et je l'ai inclus ici juste pour cette histoire donc malheureusement ce ne sera pas un finaliste. Faque, il y a de cela bien longtemps en mars 2020, ma famille a eu la brillante idée de jouer à Pandemic et de nommer, en blague, une des maladies COVID. Trois heures plus tard, on avait toujours pas réussi à l'éliminer la maudite patante, et éventuellement on a juste remis le jeu dans sa boîte et on a bien rigolé. Mais on l'a pas ri longtemps!! Pandemic est un nom tabou maintenant sous notre toit et la boîte est traitée avec le même niveau de respect et de peur qu'un board de Oujia, donc c'est atroce et maudit mais je pense aussi que c'est ultra drôle. Next!</p>
        </div>
        <div class="game-entry" id="quacks">
            <h2>Quacks of Quedlingburg</h2>
            <img src="/assets/images/col25/kate/quacks.png" alt="Quacks of Quedlingburg doodle" class="game-image">
            <p>DES POTIONS!! DES EXPLOSIONS!! J'adore ce jeu et ses mécaniques de confection de potions et de deck building bâti purement sur la chance. Tu peux jouer avec les propriétés de tes ingrédients pour qu'il y ait jamais deux games pareilles, y'a même des éléments mis en place pour aider ceux qui traînent de la patte, tu reçois des bonus de round, mon dieu que j'aime ce jeu. J'adore les petits ingrédients laids et le fait que tu les mets dans un petit sac, et j'adore le charme des plateaux et se foutre de la gueule des potes dont les potions explosent. Le seul point négatif et la raison pour laquelle c'est pas un gagnant instantané, c'est que c'est pas mal juste de la chance, ce qui mène à de la triche (je te regarde, chère soeur) et donc je perds toujours. On continue vers le dernier jeu!</p>
        </div>
        <div class="game-entry" id="love-letter">
            <h2>Love Letter</h2>
            <img src="/assets/images/col25/kate/love-letter.png" alt="Love Letter doodle" class="game-image">
            <p>Je pense encore que ça devrait pas compter comme un jeu de plateau parce que *ahem* y'a pas de plateau. Mais hey, j'ai ce magnifique jeu que ma magnifique blonde m'a fait, donc ça va dans la liste! C'est basé sur le skill et tu dois jouer avec les cartes qui te sont données, et dans toute sa simplicité c'est quand même très complexe comme jeu. Facile à comprendre, dur à maîtriser, parfait pour faire des mauvaises blagues de princesse, c'est un excellent jeu pour des gens un peu saouls à un party et pour la princesse dans votre vie. Mon dieu que j'adore ce jeu. Et ma blonde. Je suis peut-être biaisée…</p>
        </div>
    </div>
    <div class="content-wrapper">
        <p>Roulement de tambour s'il vous plaît!! J'espère que vous avez apprécié mes survols merdiques de plusieurs jeux random, mais maintenant c'est l'heure de choisir un vainqueur! Et j'ai choisi… À la surprise de tous…<br>
        Secret Hitler! Écoute, ça aurait été Love Letter, mais je trouve que c'est plus drôle de m'entêter à dire que c'est pas un jeu de plateau et espérer que ma copine trouve dans son coeur une once de pardon. Anyways, je vais partager l'histoire qui a fait pencher la balance: pendant une manche de Secret Hitler, mon cousin essayait de convaincre ma soeur que mon père était Hitler, je lui ai crié après pour exiger qu'il me dise si il était un fasciste ou non. Il me regarde droit dans les yeux et me dit "oui. En tout cas…". Devine qui était, et c'est difficile à croire je sais, un fasciste!! Et porte pas attention au fait que sa soeur plus jeune s'est trompé dans ses mots et l'a traité de fashionista pendant la partie. Elle était une libraire (libérale) comme moi, mais bon. Anyways, c'est tout ce que j'ai pour vous mes amis, merci d'avoir lu et sortez vos jeux préférés de temps en temps pour forger des beaux souvenirs &lt;3</p>
        <h6>(also p.s. je t'aime tellement fort saskia tues-moi paaaas :3)</h6>
        <p>- Kate :3</p>
    </div>
    <a href="/{{ lang }}/colectivember-2025" class="back-button">{% if lang == "fr" %}← Retour à l'accueil{% else %}← Back to the Hub{% endif %}</a>
</div>