---
title: "????"
author: "Katrine-Sophie"
posted: "Vendredi le 28 novembre 2025"
date: 2025-11-28
lang: "fr"
---
{% block styles %}
<link rel="stylesheet" href="/css/col25/404.css">
{% endblock %}

<div class="page-wrapper">
    <img src="/assets/images/col25/little-guy.gif" alt="A little yellow guy dancing like crazy" class="image-center">
    <h1>Woups! Y'a rien ici!</h1>
    <p>Tu pensais vraiment que j'allais laisser du code à moitié fini dans une page? Bien essayé chacal... Anyways la page s'en vient fais-toi en pas!</p>
    <a href="/{{ lang }}/colectivember-2025" class="back-button">{% if lang == "fr" %}← Retour à l'accueil{% else %}← Back to the Hub{% endif %}</a>
</div>